.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  mat-card{
    width: 300px;
    height: 250px;
  }
  mat-form-field{
    width: 290px;
  }

  .example-full-width{
    width: 290px;
    height: 200px;
  }

  .center-button {
    display: block;
    margin-left: 120px;
  }
  